@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="building" name="楼号"/>
                    <#input id="room" name="门牌号" underline="true"/>

                </div>

                <div class="col-sm-6">
                    <#SelectCon id="rent" name="关系" >
                        <option value="1">户主</option>
                        <option value="2">租户</option>
                    </#SelectCon>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserHouseInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserHouseInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/userHouse/userHouse_info.js"></script>
@}
