@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>apply管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="UserApply.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="UserApplyTableToolbar" role="group">
                            @if(shiro.hasPermission("/userApply/add")){
                                <#button name="添加" icon="fa-plus" clickFun="UserApply.openAddUserApply()"/>
                            @}
                            @if(shiro.hasPermission("/userApply/update")){
                                <#button name="修改" icon="fa-edit" clickFun="UserApply.openUserApplyDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/userApply/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="UserApply.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="UserApplyTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/userApply/userApply.js"></script>
@}
